<!doctype html>
<html>
<head>
  <title></title>
</head>
  <body>

    There once was a {{ blue }} {{ noun }} sitting in the Hackbright Lab.
When {{ person }} went to pick it up, it burst into flames in a totally
{{ adjective }} way.
    <form action="/madlib">
        Let's make your madlib!
        <p>Enter a name:</p>
        <input type="text" name="person"> Person
        <p>Enter a color:</p>
        <input type="text" name="color"> Color
        <p>Enter a noun:</p>
        <input type="text" name="noun"> Noun
        <p>Enter an adjective:</p>
        <input type="text" name="adjective"> Adjective
        <p><p>
        <input type="submit">
    </form>
  </body>
</html>